{% extends "layout.html" %}

{% block body %} 
<form method="POST" action"{{ url_for('worklog_edit', work_id=w.id) }}">
    <table>
        <tr>
            <td>
                {{ form.id.label }}
            </td>
            <td>
                {{ form.id(readonly=true) }}
            </td>
            <td>
                {{ form.worker_id.label }}
            </td>
            <td>
                {{ form.worker_id(readonly=true) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.task.label }}
            </td>
            <td>
                {{ form.task }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.task_id.label }}
            </td>
            <td>
                {{ form.task_id }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.worked_hours.label }}
            </td>
            <td>
                {{ form.worked_hours }}
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Muokkaa tehtävää!" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}