{% extends "layout.html" %}

{% block body %} 
<form method="POST" action="{{ url_for('worklog_edit', work_id=w.id) }}">
    <div>
        Henkilönumerosi: <input style="background-color: grey" type="text" name="worker_id" value="{{ w.worker_id }}" readonly/>
        Työtehtävän tunnus: <input style="background-color: grey" type="text" name="id" value="{{ w.id }}" readonly />
    </div>
    <div>
        Muokkaa tehtävän kuvausta: <input type=text  name="task" value="{{ w.task }}" />
        Muokkaa työtehtävän tunnistenumeroa: <input type="text" name="task_id" value="{{ w.task_id }}" />
        Muokkaa tehtyjä työtunteja: <input type="text" name="worked_hours" value="{{ w.worked_hours }}" />
        <input type="submit" value="Muokkaa työtehtävää" />
    </div>
</form>
{% endblock %}