{% extends "layout.html" %}

{% block body %}
    <div>
        <h1>Hei {{ user.name }}!</h1>
        <h3>Tervetuloa dyykkimestareiden työaikakirjaukseen</h3>
    </div>
    <div>
        <h4>Omat kirjauksesi:</h4>
        <ul>
            {% for task in user_work %}
            <li>{{ task.tasks }} työtehtävää</li>
            {% endfor %}
            {% for hour in user_hours %}
            <li>{{ hour.user_hours }} työtuntia</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h4>Tähän mennessä järjestelmään kirjattu:</h4>
        <ul>
            {% for count in total_work %}
            <li>{{ count.count }} työtehtävää</li>
            {% endfor %}
            {% for hours in total_hours %}
            <li>{{ hours.total_hours }} työtuntia</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}