{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Päivämäärä</th>
      <th>Työntekijän tunnistenumero</th>
      <th>Tehtävän kuvaus</th>
      <th>Tehtävän tunnistenumero</th>
      <th>Työtunnit</th>
    </tr>
    {% for work in worklog %}
    <tr>
      <td>{{ work.date_created }}</td>
      <td>{{ work.worker_id }}</td>
      <td>{{ work.task }}</td>
      <td>{{ work.task_id }}</td>
      <td>{{ work.worked_hours }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}