{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('worklog_create') }}">
    <table>
        <tr>
            <td>
                {{ form.id.label }}
            </td>
            <td>
                {{ form.id }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.task.label }}
            </td>
            <td>
                {{ form.task }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.task_id.label }}
            </td>
            <td>
                {{ form.task_id }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.hours.label }}
            </td>
            <td>
                {{ form.hours }}
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Lisää uusi työtehtävä!"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}