{% extends "layout.html" %}

{% block body %} 
<form method="POST" action"{{ url_for('auth_register') }}">
    <p>
        Rekisteröityminen on placeholderi ja esillä viikon etappeja varten. Tarkoitus on siirtää uusien käyttäjien rekisteröiminen Admin -käyttäjälle rajoitetuksi.
    </p>
    <table>
        <tr>
            <td>
                {{ form.username.label }}
            </td>
            <td>
                {{ form.username }}
            </td>
            <td>
                <ul>
                    {% for error in form.username.errors %}
                    <li>
                        {{ error }}
                    </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                {{ form.plaintext_password.label }}
            </td>
            <td>
                {{ form.plaintext_password }}
            </td>
            <td>
                <ul>
                    {% for error in form.plaintext_password.errors %}
                    <li>
                        {{ error }}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>
                        {{ error }}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
            <td>
                {{ form.certificates.label }}
            </td>
            <td>
                {{ form.certificates }}
            </td>
            <td>
                <ul>
                    {% for error in form.certificates.errors %}
                    <li>
                        {{ error }}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.roles.label }}
            </td>
            <td>
                {{ form.roles }}
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Rekisteröidy" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}